<h1 class="animated fadeIn fast">Sobre DOOM GAMES</h1>
<hr>
<p class="animated fadeIn">
    ​La franquicia Doom es una serie de videojuegos de disparos en primera persona desarrollados por id Software, cuya franquicia incluye novelas, cómics, juegos de mesa y adaptaciones cinematográficas relacionadas. La serie se centra en las hazañas de un
    marine espacial no identificado que opera bajo los auspicios de la Union Aerospace Corporation (UAC), que lucha contra hordas de demonios y no muertos. El videojuego Doom de 1993 es considerado uno de los videojuegos pioneros de disparos en primera
    persona al presentar, en la época de las computadoras compatibles con IBM, características novedosas como gráficos 3D, espacialidad de tercera dimensión, juego en red multijugador y soporte para modificaciones creadas por el jugador con el formato
    Doom WAD. Desde su debut, se han vendido más de 10 millones de copias de videojuegos de la serie Doom. Desde el lanzamiento de Doom en 1993, la serie ha generado numerosas secuelas, paquetes de expansión y 2 películas.
</p>